<a href="https://colab.research.google.com/github/nirvanareis/estatistica-python/blob/main/Funcoes_EstruturadeDados_Excecoes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sobre o notebook

A "hora da prática" é uma atividade do curso de Python para Data Science da Alura que contém diversos desafios envolvendo os aprendizados de cada aula.

O notebook "hora da prática" é um notebook construído com espaço para as células dos desafios propostos no curso, com ele você tem espaço para construir e executar suas soluções

## Aula 1 - Bibliotecas

### Aquecimento

#### Questão 1

Escreva um código para instalar a versão `3.7.1` da biblioteca `matplotlib`

In [ ]:
!pip install matplotlib==3.7.1

#### Questão 2

Escreva um código para importar a biblioteca `numpy` com o alias `np`

In [ ]:
import numpy as np

#### Questão 3
Crie um programa que lê a seguinte lista de números e escolha um número desta aleatoriamente.
```
lista = [8, 12, 54, 23, 43, 1, 90, 87, 105, 77]
```

In [ ]:
lista = [8, 12, 54, 23, 43, 1, 90, 87, 105, 77]

from random import choice

numero = choice(lista)
numero

#### Questão 4

Crie um programa que sorteia aleatoriamente um número inteiro menor que 100.
> Dica: use a função [`randrange()`](https://docs.python.org/3/library/random.html#random.randrange) da biblioteca `random`. Essa função recebe como parâmetro o valor limite para a escolha aleatória ou um intervalo se passado o limite mínimo e máximo. Por exemplo, `randrange(5)` gera valores inteiros menores que 5.

In [ ]:
from random import randrange

intervalo  = randrange(100)
intervalo

#### Questão 5
Crie um programa que solicite à pessoa usuária digitar dois números inteiros e calcular a potência do 1º número elevado ao 2º.
> Dica: use a função [`pow()`](https://docs.python.org/3/library/random.html#random.randrange) da biblioteca `math`

In [ ]:
base = int(input("Digite a base da potência: "))
exp = int(input('Digite o expoente da potência: '))

potencia = pow(base,exp)

print(f'O valor da potência é: {potencia}')

O valor da potência é: 4

### Aplicando a projetos

#### Questão 6
Um programa deve ser escrito para sortear uma pessoa seguidora de uma rede social para ganhar um prêmio. A lista de participantes é numerada e devemos escolher aleatoriamente um número de acordo com a quantidade de participantes.

Peça à pessoa usuária para fornecer o número de participantes do sorteio e devolva para ela o número sorteado.

In [ ]:
qtd = int(input('Informe a quantidade e participantes do sorteio: '))

sorteado = randrange(qtd)

print(f'O sorteado foi: {sorteado}')

O sorteado foi: 2

#### Questão 7

Você recebeu uma demanda para gerar números de token para o acesso ao aplicativo de uma empresa. O token precisa ser par e variar de 1000 até 9998. Escreva um código que solicita à pessoa usuária o seu nome e gera uma mensagem junto a esse token gerado aleatoriamente:

`"Olá, [nome], o seu token de acesso é [token]! Seja bem-vindo(a)!"`

In [ ]:
nome = input('Informe seu nome para receber seu token: ')

token = randrange(1000, 9998)

if token % 2 != 0:
  token = randrange(1000, 9998)

else:
  print(f'Olá, {nome}, o seu token de acesso é {token}! Seja bem-vindo(a)!')

#### Questão 8
Para diversificar e atrair novos clientes, uma lanchonete criou um item misterioso em seu cardápio chamado "salada de frutas surpresa". Neste item, são escolhidas aleatoriamente 3 frutas de uma lista de 12 frutas para compor a salada de frutas da pessoa cliente.

Crie o código que faça essa seleção aleatória de acordo com a lista abaixo:

```
frutas = ["maçã", "banana", "uva", "pêra",
          "manga", "coco", "melancia", "mamão",
          "laranja", "abacaxi", "kiwi", "ameixa"]
```

In [ ]:
from random import choices

frutas = ["maçã", "banana", "uva", "pêra",
          "manga", "coco", "melancia", "mamão",
          "laranja", "abacaxi", "kiwi", "ameixa"]

salada = choices(frutas, k = 3)

print(f'Sua salada será de {salada}')

Sua salada será de ['kiwi', 'laranja', 'uva']

#### Questão 9
Você recebeu um desafio de calcular a raiz quadrada de uma lista de números, identificando quais resultaram em um número inteiro. A lista é a seguinte:
```
numeros = [2, 8, 15, 23, 91, 112, 256]
```

Informe no final quais números possuem raízes inteiras e seus respectivos valores.

> Dica: use a comparação entre a divisão inteira da raiz por 1 com o valor da raiz para verificar se o número é inteiro. Por exemplo:
```
num = 1.5
num_2 = 2
print(f'{num} é inteiro? :', num // 1 == num)
print(f'{num_2} é inteiro? :', num_2 // 1 == num_2)
```
Saída:
```
1.5 é inteiro? : False
2 é inteiro? : True
```

In [ ]:
from math import sqrt
numeros = [2, 8, 15, 23, 91, 112, 256]
lista = []
numero = []

for i in numeros:
  raiz = sqrt(i)
  if raiz // 1 == raiz:
    lista.append(i)
    numero = sqrt(i)

print(f'O valor {lista} possui raiz inteira de {numero}')

O valor [256] possui raiz inteira de 16.0

#### Questão 10
Faça um programa para uma loja que vende grama para jardins. Essa loja trabalha com jardins circulares e o preço do metro quadrado da grama é de R$ 25,00. Peça à pessoa usuária o raio da área circular e devolva o valor em reais do quanto precisará pagar.  

> Dica: use a variável [`pi`](https://docs.python.org/pt-br/3/library/math.html#math.pi) e o método [`pow()`](https://docs.python.org/3/library/random.html#random.randrange) da biblioteca `math`. O cálculo de área de um círculo é de: $Area = \pi \times r^2$

In [ ]:
from math import pi

raio = float(input("Informe a medida do raio do jardim: "))

area = pi * pow(raio,2)
preco = area * 25

print('O valor em reais de grama será de R${:.2f}'.format(preco))

## Aula 2 - Funções

### Aquecimento

#### Questão 1

Escreva um código que lê a lista abaixo e faça:

```
lista = [16, 14, 63, 65, 17, 99, 70, 11, 20, 48, 79, 32, 17, 89, 12, 25, 66]
```

- A leitura do tamanho da lista
- A leitura do maior e menor valor
- A soma dos valores da lista

Ao final exiba uma mensagem dizendo:

```
"A lista possui [tam] números em que o maior número é [maior] e o menor número é [menor]. A soma dos valores pares presentes nela é igual a [soma]"
```

> Dica: use as funções embutidas presentes na [documentação do Python](https://docs.python.org/3/library/functions.html)

In [ ]:
lista = [16, 14, 63, 65, 17, 99, 70, 11, 20, 48, 79, 32, 17, 89, 12, 25, 66]

def comandos(lista):

  tamanho = len(lista)
  soma = sum(lista)
  maior = max(lista)
  menor = min(lista)

  return print(f'A lista possui {tamanho} números em que o maior número é {maior} e o menor número é {menor}. A soma dos valores presentes nela é igual a {soma}')

comandos(lista)

A lista possui 17 números em que o maior número é 99 e o menor número é 11. A soma dos valores presentes nela é igual a 743

#### Questão 2

Escreva uma função que gere a tabuada de um número inteiro de 1 a 10, de acordo com a escolha da pessoa usuária. Como exemplo, para o número 7, a tabuada deve ser mostrada no seguinte formato:
```
Tabuada do 7:
7 x 0 = 0
7 x 1 = 7
[...]
7 x 10 = 70
```

In [ ]:
numero = int(input('Informe um número para saber sua tabuada: '))

def tabuada(x):
  print(f'Tabuada do {x}')

  for i in range (1, 11):
    print(f'{i} x {x} = {i*x}')
    i = i + 1

tabuada(numero)

Informe um número para saber sua tabuada: 5
Tabuada do 5
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50

#### Questão 3
Crie a função que leia a lista abaixo e retorne uma nova lista com os múltiplos de 3:

```
[97, 80, 94, 88, 80, 1, 16, 53, 62, 32, 24, 99]
```

Utilize o `return` na função e salve a nova lista na variável `mult_3`.

In [ ]:
lista = [97, 80, 94, 88, 80, 1, 16, 53, 62, 32, 24, 99]

def div_3(lista):
  mult = []
  for i in lista:
    if i % 3 == 0:
      mult.append(i)

  return mult

mult_3 = div_3(lista)
mult_3

[24, 99]

#### Questão 4
Crie uma lista dos quadrados dos números da seguinte lista `[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]`.

Lembre-se de utilizar as funções lambda e `map()` para calcular o quadrado de cada elemento da lista.

In [ ]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

quadrados = map(lambda x : x ** 2, lista)

lista_quadrados = list(quadrados)
lista_quadrados

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Aplicando a projetos

#### Questão 5

Você foi contratado(a) como cientista de dados de uma associação de skate. Para analisar as notas recebidas dos(as) skatistas em algumas competições ao longo do ano, você precisa criar um código que calcula a pontuação dos(as) atletas. Para isso, o seu código deve receber 5 notas digitadas pelas pessoas juradas.

Para calcular a pontuação de um(a) skatista, você precisa eliminar a maior e a menor pontuação dentre as 5 notas e tirar a média das 3 notas que sobraram.

Retorne a média para apresentar o texto:
`"Nota da manobra: [media]"`

In [ ]:
notas = []

for i in range (1,6):
  nota = float(input(f'Informe a nota {i}: '))
  notas.append(nota)

  i += i

def media(lista):

  menor = min(lista)
  maior = max(lista)
  lista.remove(menor)
  lista.remove(maior)
  media = sum(lista) / len(lista)

  return media

media(notas)

Informe a nota 1: 98
Informe a nota 2: 1
Informe a nota 3: 9
Informe a nota 4: 8
Informe a nota 5: 7

8.0

#### Questão 6

Para atender a uma demanda de uma instituição de ensino para a análise do desempenho de seus(suas) estudantes, você precisa criar uma função que receba uma lista de 4 notas e retorne:
- maior nota
- menor nota
- média
- situação (Aprovado(a) ou Reprovado(a))

Para testar o comportamento da função, os dados podem ser exibidos em um texto:
```
"O(a) estudante obteve uma media de [media], com a sua maior nota de [maior] pontos e a menor nota de [menor] pontos e foi [situacao]"
```

In [ ]:
notas = []

for i in range (1,5):
  nota = float(input(f'Informe a nota {i}: '))
  notas.append(nota)

  i += i

def desempenho(notas):

  maior = max(notas)
  menor = min(notas)
  media = sum(notas) / len(notas)

  if media >= 6:
    situacao = 'Aprovado'
  else:
    situacao = 'Reprovado'

  return print(f'O(a) estudante obteve uma media de {media}, com a sua maior nota de {maior} pontos e a menor nota de {menor} pontos e foi {situacao}.')

desempenho(notas)

Informe a nota 1: 3
Informe a nota 2: 5
Informe a nota 3: 10
Informe a nota 4: 9
O(a) estudante obteve uma media de 6.75, com a sua maior nota de 10.0 pontos e a menor nota de 3.0 pontos e foi Aprovado.

#### Questão 7

Você recebeu uma demanda para tratar 2 listas com os nomes e sobrenomes de cada estudante concatenando-as para apresentar seus nomes completos na forma `Nome Sobrenome`.

As listas são:
```
nomes = ["joão", "MaRia", "JOSÉ"]
sobrenomes = ["SILVA", "souza", "Tavares"]
```

O texto exibido ao fim deve ser parecido com:
```
"Nome completo: Ana Silva"
```

> Dica: Utilize a função map para mapear os nomes e sobrenomes e as funções de string para tratar o texto.

In [ ]:
nomes = ["joão", "MaRia", "JOSÉ"]
sobrenomes = ["SILVA", "souza", "Tavares"]

nome_completo = map(lambda x, y : x.capitalize() + ' ' + y.capitalize(), nomes, sobrenomes)
nome_completo = list(nome_completo)
nome_completo

['João Silva', 'Maria Souza', 'José Tavares']

## Aula 3 - Estrutura de dados compostas

### Aquecimento

#### Questão 1

Crie um código para imprimir a soma dos elementos de cada uma das listas contidas na seguinte lista:
```
lista_de_listas = [[4,6,5,9], [1,0,7,2], [3,4,1,8]]
```

In [ ]:
lista_de_listas = [[4, 6, 5, 9], [1, 0, 7, 2], [3, 4, 1, 8]]

for i in lista_de_listas:
  soma = sum(i)
  print(f'A soma da lista é: {soma}')

A soma da lista é: 24
A soma da lista é: 10
A soma da lista é: 16

#### Questão 2

Crie um código para gerar uma lista que armazena o terceiro elemento de cada tupla contida na seguinte lista de tuplas:
```
lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]
```

In [ ]:
lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]

lista = [item[2] for item in lista_de_tuplas]
lista

[81, 67, 83]

#### Questão 3
A partir da lista: `lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo']`, crie um código para gerar uma lista de tuplas em que cada tupla tenha o primeiro elemento como a posição do nome na lista original e o segundo elemento sendo o próprio nome.

In [ ]:
lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo']

lista_tuplas = []

for i in range(len(lista)):
  lista_tuplas.append((i, lista[i]))

lista_tuplas


## lista_tuplas = [(indice, lista[indice]) for indice in range(len(lista))]
## lista_tuplas

[(0, 'Pedro'), (1, 'Júlia'), (2, 'Otávio'), (3, 'Eduardo')]

#### Questão 4
Crie uma lista usando o list comprehension, que armazena somente o valor numérico de cada tupla caso o primeiro elemento seja 'Apartamento' a partir da seguinte lista de tuplas:
```
aluguel = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]
```

In [ ]:
aluguel = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]

lista = [item[1] for item in aluguel if item[0] == 'Apartamento']

lista

[1700, 1400, 1900]

#### Questão 5

Crie um dicionário usando o dict comprehension em que as chaves estão na lista `meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']` e os valores estão na lista `despesa = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]`

In [ ]:
meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
despesa = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]

dicionario = {meses[item]: despesa[item] for item in range(len(meses))}
dicionario

{'Jan': 860,
 'Fev': 490,
 'Mar': 1010,
 'Abr': 780,
 'Mai': 900,
 'Jun': 630,
 'Jul': 590,
 'Ago': 770,
 'Set': 620,
 'Out': 560,
 'Nov': 840,
 'Dez': 360}

### Aplicando a projetos

#### Questão 6

Uma loja possui um banco de dados com a informação de venda de cada representante e de cada ano e precisa filtrar somente os dados do ano 2022 com venda maior do que 6000. A loja forneceu uma amostra contendo apenas as colunas com os anos e os valores de venda para que você ajude a realizar a filtragem dos dados a partir de um código:
```
vendas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]
```
Crie uma lista usando list comprehension para filtrar os valores de 2022 e que sejam maiores que 6000.

In [ ]:
vendas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]

valores_2022 = [item[1] for item in vendas if item[1] > 6000 and item[0] == '2022']

valores_2022

[8883, 7688, 9544, 8190]

#### Questão 7

Uma clínica analisa dados de pacientes e armazena o valor numérico da glicose em um banco de dados e gostaria de rotular os dados da seguinte maneira:

- Glicose igual ou inferior a 70: 'Hipoglicemia'
- Glicose entre 70 a 99: 'Normal'
- Glicose entre 100 e 125: 'Alterada'
- Glicose superior a 125: 'Diabetes'

A clínica disponibilizou parte dos valores e sua tarefa é criar uma lista de tuplas usando list comprehension contendo o rótulo e o valor da glicemia em cada tupla.

```
glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]
```

In [ ]:
glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]

#valores_2022 = [item[1] for item in vendas if item[1] > 6000 and item[0] == '2022']

rotulo = ['Hipoglicemia' if i <= 70 else 'Normal' if i <= 99 else 'Alternada' if i <=125 else 'Diabetes' for i in glicemia]

valor_glicemia = list(zip(rotulo,glicemia))
valor_glicemia

[('Diabetes', 129),
 ('Normal', 82),
 ('Hipoglicemia', 60),
 ('Normal', 97),
 ('Alternada', 101),
 ('Hipoglicemia', 65),
 ('Hipoglicemia', 62),
 ('Diabetes', 167),
 ('Normal', 87),
 ('Hipoglicemia', 53),
 ('Hipoglicemia', 58),
 ('Normal', 92),
 ('Hipoglicemia', 66),
 ('Alternada', 120),
 ('Alternada', 109),
 ('Hipoglicemia', 62),
 ('Normal', 86),
 ('Normal', 96),
 ('Alternada', 103),
 ('Normal', 88),
 ('Diabetes', 155),
 ('Hipoglicemia', 52),
 ('Normal', 89),
 ('Normal', 73)]

#### Questão 8
Um e-commerce possui as informações de id de venda, quantidade vendida e preço do produto divididos nas seguintes listas:

```
id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
quantidade = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
preco = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]
```

O e-commerce precisa estruturar esses dados em uma tabela contendo o valor total da venda, que é obtida multiplicando a quantidade pelo preço unitário. Além disso, tabela precisa conter um cabeçalho indicando as colunas: 'id', 'quantidade', 'preco' e 'total'.

Crie uma lista de tuplas em que cada tupla tenha um id, quantidade, preço e valor total, na qual a primeira tupla é o cabeçalho da tabela.

In [ ]:
id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
quantidade = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
preco = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]

# Cabeçalho da tabela
cabecalho = ('id', 'quantidade', 'preco', 'total')

# Lista de tuplas com os dados
tabela = [cabecalho] + [(id, qtd, prec, qtd * prec) for id, qtd, prec in zip(id, quantidade, preco)]

print(tabela)

[('id', 'quantidade', 'preco', 'total'), (0, 15, 93.0, 1395.0), (1, 12, 102.0, 1224.0), (2, 1, 18.0, 18.0), (3, 15, 41.0, 615.0), (4, 2, 122.0, 244.0), (5, 11, 14.0, 154.0), (6, 2, 71.0, 142.0), (7, 12, 48.0, 576.0), (8, 2, 14.0, 28.0), (9, 4, 144.0, 576.0)]

In [ ]:
id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
quantidade = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
preco = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]
total = []
cabecalho = ['id', 'quantidade', 'preço', 'valor total']

for i in range(len(quantidade)):
  total.append(quantidade[i] * preco[i])

#tabela = [cabecalho] + [(id, qtd, prec, total) for id, qtd, prec, total in zip(id,quantidade,preco,total)]
#tabela

tabela =  [cabecalho] +list(zip(id,quantidade,preco,total))
tabela

[['id', 'quantidade', 'preço', 'valor total'],
 (0, 15, 93.0, 1395.0),
 (1, 12, 102.0, 1224.0),
 (2, 1, 18.0, 18.0),
 (3, 15, 41.0, 615.0),
 (4, 2, 122.0, 244.0),
 (5, 11, 14.0, 154.0),
 (6, 2, 71.0, 142.0),
 (7, 12, 48.0, 576.0),
 (8, 2, 14.0, 28.0),
 (9, 4, 144.0, 576.0)]

#### Questão 9

Uma empresa possui filiais espalhadas nos estados da região sudeste do Brasil. Em uma das tabelas de cadastro das filiais, há uma coluna contendo a informação de qual é o estado a que pertence:
```
estados = ['SP', 'ES', 'MG', 'MG', 'SP', 'MG', 'ES', 'ES', 'ES', 'SP', 'SP', 'MG', 'ES', 'SP', 'RJ', 'MG', 'RJ', 'SP', 'MG', 'SP', 'ES', 'SP', 'MG']
```

A empresa sempre está abrindo novas filiais, de modo que a tabela está constantemente recebendo novos registros e o gestor gostaria de possuir a informação atualizada da quantidade de filiais em cada estado. A partir da coluna com a informação dos estados, crie um dicionário usando dict comprehension com a chave sendo o nome de um estado e o valor sendo a contagem de vezes em que o estado aparece na lista.

> Dica: Você pode fazer um passo intermediário para gerar uma lista de listas em que cada uma das listas possui o nome de apenas um estado com valores repetidos.

In [ ]:
estados = ['SP', 'ES', 'MG', 'MG', 'SP', 'MG', 'ES', 'ES', 'ES', 'SP', 'SP', 'MG', 'ES', 'SP', 'RJ', 'MG', 'RJ', 'SP', 'MG', 'SP', 'ES', 'SP', 'MG']

lista = {item : estados.count(item) for item in set(estados)}
lista

{'ES': 6, 'SP': 8, 'RJ': 2, 'MG': 7}

## Aula 4 - Lidando com exceções

#### Questão 1

Faça um programa que solicite à pessoa usuária digitar dois números `float` e calcular a divisão entre esses números. O código deve conter um tratamento de erro, indicando o tipo de erro que foi gerado caso a divisão não seja possível de realizar.

Teste o programa com o segundo valor numérico do input igual a 0 e também teste utilizando caracteres textuais no input para checar os tipos de erro que ocorrem.

In [12]:
try:
  n1 = float(input("Informe o numerador da divisão: "))
  n2 = float(input('Informe o denominador da divisão: '))
  resultado = (n1/n2)

except ValueError as e:
  print(f'Erro: {e}')

except ZeroDivisionError as e:
  print(f'Erro: {e}')

else:
  print(resultado)

Informe o numerador da divisão: 8
Informe o denominador da divisão: p
Erro: could not convert string to float: 'p'

#### Questão 2

Faça um programa que solicite à pessoa usuária digitar um texto que será uma chave a ser pesquisada no seguinte dicionário: `idades = {'Júlia': 16, 'Carol': 23, 'Alberto': 19, 'Roberta': 17}`, armazenando o resultado do valor em uma variável. O código deve conter um tratamento de erro `KeyError`, imprimindo a informação 'Nome não encontrado' caso ocorra o erro e imprimir o valor caso não ocorra nenhum.

Teste o programa com um nome presente em uma das chaves do dicionário e com um que não esteja no dicionário para verificar a mensagem de erro.

In [20]:
idades = {'Júlia': 16, 'Carol': 23, 'Alberto': 19, 'Roberta': 17}

try:
  nome = str(input('Informe um nome e descubra a idade: '))
  resultado = idades[nome]

except KeyError:
  print('Nome não encontrado.')

else:
  print(f'Idade: {resultado}')

Informe um nome e descubra a idade: Daniel
Nome não encontrado.

#### Questão 3
Crie uma função que recebe uma lista como parâmetro e converta todos os valores da lista para `float`. A função deve conter um tratamento de erro indicando o tipo de erro gerado e retornar a lista caso não tenha ocorrido nenhum erro. Por fim, deve ter a cláusula `finally` para imprimir o texto: 'Fim da execução da função'.

In [41]:
def conversor(lista):

  try:

    lista_conv = [float(item) for item in lista]

  except ValueError as e:
    print(f'Erro: {e}')

  else:
    return lista_conv

  finally:
    print('Fim da execução da função')

#### Questão 4
Crie uma função que recebe duas listas como parâmetros e agrupe os elementos um a um das listas, formando uma lista de tuplas de 3 elementos, onde o primeiro e segundo elemento da tupla são os valores na posição `i` das listas e o terceiro elemento é a soma dos valores na posição `i` das listas. A função deve conter um tratamento de erro indicando o tipo de erro gerado e retornar como resultado a lista de tuplas.

Dados para testar a função:

Valores sem erro:
```
lista1 = [4,6,7,9,10]
lista 2 = [-4,6,8,7,9]
```
Listas com tamanhos diferentes:

```
lista1 = [4,6,7,9,10,4]
lista 2 = [-4,6,8,7,9]
```
Listas com valores incoerentes:

```
lista1 = [4,6,7,9,'A']
lista 2 = [-4,'E',8,7,9]
```

In [62]:
lista1 = [4,6,7,9,'A']
lista2 = [-4,'E',8,7,9]

def funcao(l1,l2):

  try:
    nova_lista = [(x, y, x + y) for x, y in zip(l1,l2)]

  except TypeError as e:
    print(f'Erro: {e}')

  else:
    return nova_lista

resultado = funcao(lista1,lista2)
resultado

Erro: unsupported operand type(s) for +: 'int' and 'str'